.container{
width:90%;
margin:auto;
overflow:auto;
}

.main{
float:left;
width:70%;
}

.sidebar{
float:right;
width:25%;
background:#eee;
padding:10px;
}

img{
float:left;
margin-right:10px;
}

header{
background:#333;
color:white;
padding:15px;
}

.float-img{
float:left;
margin-right:10px;
}

.column{
float:left;
width:30%;
margin:1%;
padding:20px;
background:#ddd;
}

.clearfix{
clear:both;
}