<!DOCTYPE html>
<html>
<head>

<title>Magazine Layout</title>

<link rel="stylesheet" href="../styles/base.css">
<link rel="stylesheet" href="../styles/float.css">
<link rel="stylesheet" href="../styles/media-queries.css">

</head>

<body>

<header>
<h1>Tech Magazine</h1>
</header>

<div class="container">

<div class="main">

<img src="https://picsum.photos/300/200">

<p>
Pain itself is love, sought after, and desired to be had, but because of its nature,
it brings about times when through toil and pain some great pleasure is sought.
</p>

<p>
More article text goes here to show wrapping around image.
</p>

</div>

<div class="sidebar">

<h3>Latest News</h3>

<ul>
<li>AI Trends</li>
<li>Web Development</li>
<li>Cyber Security</li>
</ul>

</div>

</div>

</body>
</html>