<!DOCTYPE html>
<html>
<head>
    <title>Display Property Demo</title>

    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/display.css">
    <link rel="stylesheet" href="../styles/media-queries.css">
</head>

<body>

<h1>Display Property Showcase</h1>

<h2>Block Elements</h2>
<div class="block">Block 1</div>
<div class="block">Block 2</div>

<h2>Inline Elements</h2>
<span class="inline">Inline 1</span>
<span class="inline">Inline 2</span>

<h2>Inline Block</h2>
<div class="inline-block">Item 1</div>
<div class="inline-block">Item 2</div>
<div class="inline-block">Item 3</div>

<h2>Hidden Elements</h2>
<p class="hidden">This text uses display none</p>

<h2>Table Layout without Table</h2>
<div class="table">
    <div class="row">
        <div class="cell">Name</div>
        <div class="cell">Age</div>
    </div>

    <div class="row">
        <div class="cell">Ali</div>
        <div class="cell">21</div>
    </div>
</div>

<!-- Task 10 Media Query Demo -->

<h2>Responsive Box</h2>

<div class="responsive-box">

Resize the browser window

</div>

</body>
</html>